{% extends 'base.html.twig' %}

{% block title %}Accueil - Vite & Gourmand{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<main class="home">

    <!-- ===========================
         HERO
    ============================ -->
    <section class="hero">
        <div class="hero-text">
            <h1>Vite et Gourmand</h1>
            <p>Commander des plats savoureux en quelques clics !</p>
            <a href="#" class="btn-primary">Commander</a>
        </div>

        <div class="hero-image">
            <img src="{{ asset('uploads/accueil/accueil01.jpg') }}" alt="Tomates fraîches">
        </div>
    </section>


    <!-- ===========================
         PRÉSENTATION
    ============================ -->
    <section class="presentation">

    <div class="presentation-image">
        <img src="{{ asset('uploads/accueil/accueil02.jpg') }}" alt="Notre cuisine">
    </div>

    <div class="presentation-text">
        <h2>Présentation de l’entreprise</h2>
        <h3>Notre cuisine à votre service</h3>

        <p>
            Fort de notre savoir faire, nous vous proposons de délicieux menus
            qui vous combleront de joie au quotidien ou lors de vos évènements.
        </p>
    </div>

</section>



    <!-- ===========================
         CARTES MENUS
    ============================ -->
    <section class="menus-preview">
        <h2>Cartes menus</h2>

        <div class="menus-grid">
           {% for menu in menus %}
    <article class="menu-card">
        <img src="{{ asset('uploads/menus/' ~ menu.image) }}" alt="{{ menu.titre }}">
        <h3>{{ menu.titre }}</h3>
        <p class="price">{{ menu.prixBase|number_format(2, '.', '') }} €</p>
        <a href="{{ path('app_menu_show', {id: menu.id}) }}" class="btn-primary">
            Voir détails
        </a>
    </article>
{% endfor %}

        </div>
    </section>

</main>

{% endblock %}
