{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('styles/admin/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin/admin_employe.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin/admin_stats.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin/admin_employe_list.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin/avis.css') }}">

    {% block admin_styles %}{% endblock %}
{% endblock %}

{% block body %}
<div class="admin-container">
    {% block admin_body %}{% endblock %}
</div>

{# 🔥 LES MODALES DOIVENT ÊTRE ICI, DANS LE BODY #}
{% block admin_modals %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {% block admin_scripts %}{% endblock %}
{% endblock %}
