{% extends 'base.html.twig' %}

{% block title %}Commande #{{ commande.id }}{% endblock %}

{% block body %}
<h1>Détail de la commande #{{ commande.id }}</h1>

<p>Date : {{ commande.createdAt|date('d/m/Y H:i') }}</p>
<p>Statut : {{ commande.status }}</p>

<table class="table">
    <thead>
        <tr>
            <th>Menu</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {% for item in commande.items %}
            <tr>
                <td>{{ item.menu.titre }}</td>
                <td>{{ item.quantite }}</td>
                <td>{{ item.prixUnitaire }} €</td>
                <td>{{ item.total }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total : {{ commande.total }} €</h3>

{% endblock %}