{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

<h1 class="mb-4">Modifier mes informations</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<div class="card p-4 shadow-sm">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.prenom) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.nom) }}
        </div>
    </div>

    {{ form_row(form.email) }}
    {{ form_row(form.gsm) }}
    {{ form_row(form.adressePostale) }}

    <button class="btn btn-primary mt-3">Enregistrer</button>

    {{ form_end(form) }}
</div>

<a href="{{ path('app_compte_index') }}" class="btn btn-secondary mt-3">Retour</a>

{% endblock %}
