{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/compte.css') }}">
{% endblock %}

{% block body %}

<h1 class="page-title">Changer mon mot de passe</h1>

<div class="account-wrapper">

    <div class="card">

        <h2 class="section-title">Sécurité du compte</h2>

        {{ form_start(form) }}

        <div class="form-grid full">
            <div class="full">
                
                {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <button class="btn btn-primary mt-3 w-100">Mettre à jour</button>

        {{ form_end(form) }}

    </div>

    <a href="{{ path('app_compte_index') }}" class="btn btn-link mt-3">← Retour</a>

</div>

{% endblock %}
