{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}

<h1 class="mb-4">Changer mon mot de passe</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<div class="card p-4 shadow-sm">
    {{ form_start(form) }}

    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button class="btn btn-primary mt-3">Mettre à jour</button>

    {{ form_end(form) }}
</div>

<a href="{{ path('app_compte_index') }}" class="btn btn-secondary mt-3">Retour</a>

{% endblock %}
