{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('styles/pages/historique.css') }}">
{% endblock %}

{% block body %}

<h1 class="page-title">Vos commandes</h1>

<section class="historique-container">

    {% if commandes is empty %}
        <p class="empty">Vous n'avez encore passé aucune commande.</p>
    {% else %}

        {% for commande in commandes %}
            <div class="commande-card">

                <div class="info">
                    <h2>Commande #{{ commande.id }}</h2>
                    <p>Date : {{ commande.date|date('d/m/Y H:i') }}</p>
                    <p>Total : <strong>{{ commande.total }} €</strong></p>
                    <p>Articles : {{ commande.items|length }}</p>
                </div>

                <a href="{{ path('app_commande_details', { id: commande.id }) }}"       class="btn-secondary">
                 Voir détails
                </a>

            </div>
        {% endfor %}

    {% endif %}

</section>

{% endblock %}