{% extends 'admin/admin_base.html.twig' %}

{% block title %}Créer un employé{% endblock %}

{% block admin_body %}

<h1 class="page-title">Créer un employé</h1>

<div class="card p-4 shadow-sm">

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.prenom) }}
        </div>

        <div class="col-md-6 mb-3">
            {{ form_row(form.nom) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_row(form.email) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.actif) }}
    </div>

    <button class="btn-success mt-3">Créer l'employé</button>

    {{ form_end(form) }}

</div>

<a href="{{ path('admin_employes_index') }}" class="btn-secondary mt-3 d-inline-block">
    Retour à la liste des employés
</a>

{% endblock %}
