{% extends 'base.html.twig' %}

{% block title %}Modifier un plat{% endblock %}

{% block body %}
<h1>Modifier le plat : {{ plat.nom }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('admin_plat_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
