{% extends 'base.html.twig' %}

{% block title %}Gestion des avis{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/admin/avis.css') }}">
{% endblock %}

{% block body %}

<h1 class="page-title">Gestion des avis</h1>

<table class="table-commandes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Menu</th>
            <th>Note</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for a in avis %}
            <tr>
                <td>#{{ a.id }}</td>
                <td>{{ a.utilisateur.prenom }} {{ a.utilisateur.nom }}</td>
                <td>{{ a.menu.titre }}</td>
                <td>{{ a.note }}/5</td>
                <td>{{ a.date|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('admin_avis_show', { id: a.id }) }}" class="btn-secondary">Voir</a>
                    <a href="{{ path('admin_avis_delete', { id: a.id }) }}" class="btn-danger"
                       onclick="return confirm('Supprimer cet avis ?')">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
