{% extends 'admin/admin_base.html.twig' %}

{% block title %}Avis #{{ avis.id }}{% endblock %}



{% block body %}

<h1 class="page-title">Avis #{{ avis.id }}</h1>

<div class="avis-details">

    <div class="avis-info">
        <p><strong>Auteur :</strong> {{ avis.utilisateur.email }}</p>
        <p><strong>Menu :</strong> {{ avis.menu.titre }}</p>
        <p><strong>Note :</strong> {{ avis.note }}/5</p>
        <p><strong>Date :</strong> {{ avis.date|date('d/m/Y H:i') }}</p>
    </div>

    <div class="avis-commentaire">
        <h3>Commentaire</h3>
        <p>{{ avis.commentaire }}</p>
    </div>

</div>

<a href="{{ path('admin_avis_index') }}" class="btn-secondary" style="margin-top: 2rem; display: inline-block;">
    Retour
</a>

{% endblock %}
